.slide3 {
    --slide-primary: 0, 56, 101;
	--slide-secondary: 164, 200, 225;
    --slide-tertiary: 0, 0, 0;

    background-color: rgb(var(--slide-secondary));
    color: rgb(var(--slide-primary));
}

.slide3 .divider > div {
    padding: var(--responsivePadding);
}

.slide3 .container_duree{
    width: 100%;
    background-color: blueviolet;
    height: 70%;
}

.slide3 .duree{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 12%;
    font-size: 1.2rem;
}

.slide3 img{
    margin-left: 10px;
}

.slide3 .annee_temps_parcours{
    color: white;
}

.slide3 .temps_parcours{
    color: #FFEB3D;
    font-weight: 700;
}

.slide3 .bleu_clair{
    background-color:#0053A7 ;
}

.slide3 .bleu_fonce{
    background-color:#042770 ;
}

.slide3 label{
    padding-top: 15px;
}