.slide3 {
    --slide-primary: 0, 56, 101;
	--slide-secondary: 164, 200, 225;
    --slide-tertiary: 0, 0, 0;

    background-color: rgb(var(--slide-secondary));
    color: rgb(var(--slide-primary));
}

.slide3 .divider > div {
    padding: var(--responsivePadding);
}

.slide3 .destination {
    background-color: rgb(var(--dark));
    color: rgb(var(--white));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    gap: .5rem;
}

.slide3 .destination select {
    border: 0;
    color: #FFEB3D;
    font-size: 1.5em;
    background-color: transparent;
}

.slide3 .travel-time-board {
    width: 100%;
    border: .5rem solid rgb(var(--dark));
}

.slide3 .travel-time-board tbody {
    font-size: 1.5em;
    background-color: #042770;
    color: rgb(var(--white));
}

.slide3 .travel-time-board tbody tr:nth-of-type(odd) {
    background-color: #0053A7;
}

.slide3 .travel-time-board tbody tr > td {
    padding: .5rem 0;
    vertical-align: middle;
    width: fit-content;
}

.slide3 .travel-time-board tbody tr > td:first-of-type {
    text-align: center;
}

.slide3 .travel-time-board tbody tr > td img {
    height: 1.5rem;
    aspect-ratio: 1 / 1;
}

.slide3 .travel-time-board tbody tr > td:nth-of-type(3) {
    font-weight: 700;
    color: #FFEB3D;
}